.page-author {
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "foto" 
        "bio"
        "pics" 
    ;
    @media (min-width: 1200px) {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "foto bio" 
        "pics pics"
        ;
    }

    .foto { grid-area: foto;}
    .bio { grid-area: bio;}
    .pics { grid-area: pics;}

    .foto {
        max-width: 300px;
        .pic {
            padding:20px;
            img {
                width: 100%;
                max-width: 300px;
            }
    
        }
        .meta {
            text-align: center;
            padding: 0 20px 20px 20px;
            p:first-child {
                margin-top: 0;
            }
        }
    }
    .bio {
        padding: 20px;
        h1 {
            text-align: left;
            margin-top: 0;
        }
        p{
            text-indent: 2em;
            text-align: justify;
        }
    }
    .pics {
        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .item {
                cursor: pointer;
                margin: 10px;
                img {
                    width: 120px;
                }
            }
        }
    }
    @media (min-width: 576px) {
        .img {
            img {
                width: 60%;
            }
        }
    
    }
}