.page-author {
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "foto" 
        "bio"
        "pics" 
    ;
    @media (min-width: 1200px) {
        grid-template-columns: 30% auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "title title"
        "foto bio" 
        "pics pics"
        ;
    }

    .title { grid-area: title;} 
    .foto { grid-area: foto;}
    .bio { grid-area: bio;}
    .pics { grid-area: pics;}

    .foto {
        max-width: 300px;
        .pic {
            padding:20px;
            img {
                width: 100%;
                max-width: 300px;
            }
    
        }
    }
    .bio {
        padding: 20px;
        p{
            text-indent: 2em;
            text-align: justify;
        }
        .meta {
            p {
                text-indent: 0;
                margin: 5px 0;
            }
            p:first-child {
                margin-top: 0;
            }
        }
        h4 {
            font-size: 0.8em;
            margin-bottom: 0;
        }
        ul {
            margin-top: 5px;
            font-size: 0.8em;
        }

    }
    .pics {
        .items {
            width: 100%;
            .item {
                background: #f1f1f1;
                margin:0 0 1px 0; padding: 5px;     
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                line-height: 1.1em;
                .item-img {
                    padding: 10px;
                    
                }
                .item-txt {
                    flex:1 0 240px;
                    padding: 10px;
                    p {
                        margin:5px;
                    }
                }
    
                &:nth-child(odd){
                    background: #FFFAED;
                }
                &:nth-child(even){
                    background: #E8D8BC;
                }
    
            }
        }
    }
    @media (min-width: 576px) {
        .img {
            img {
                width: 60%;
            }
        }
    
    }
}