.page-pic {
    display: block;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    grid-template-areas:
        "img desc"
    ;
    @media (min-width: 768px) {
        display: grid;
    }
    .img  {
        grid-area: img;
        padding: 20px 0;
        
        img {
            width: 100%;
            border: 1px solid #646057;
        }

        .nextprev {
            display: flex;
            justify-content: space-around;
            text-transform: uppercase;
            font-size: 0.6em;
            a {
                cursor: pointer;
            }
            span {
                color: #ccc;
            }
        }
    }
    .desc  {
        grid-area: desc;
        padding: 20px 0;
        
        div.meta {
            p {
                margin: 2px 0;
            }
        }
        div.desc-txt {
            margin-bottom: 40px;
            p {
                margin: 2px 0;
            }
            ul {
                list-style: "– ";
                margin: 0; padding: 0;
                li {
                    margin: 0; padding: 0;
                }
            }
        }
        div.litra {
            font-size: 0.8em;
        }
        @media (min-width: 768px) {
            padding: 20px 0 0 40px;
        }

    }
}
