.searchResults {
    font-size: 1rem;
    text-align: left;
    .items {
        width: 100%;

        .item {
            background: #f1f1f1;
            margin: 0 0 1px 0;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            line-height: 1.1em;
            .item-img {
                padding: 10px;
            }
            .item-txt {
                flex: 1 0 240px;
                padding: 10px;
                p {
                    margin: 5px;
                }
            }

            &:nth-child(odd) {
                background: #fffaed;
            }
            &:nth-child(even) {
                background: #e8d8bc;
            }
        }
    }
}
.searchForm {
    text-align: left;
    .grid {
        display: flex;
        flex-wrap: wrap;

        section {
            margin: 1px;

            .items {
                flex:1 0 240px;
                margin: 20px;
                margin-bottom: 20px;
            }
            .item {
                text-align: left;
                padding: 6px;
                h4 {
                    margin:0;
                }
                &:nth-child(even){
                    background: #EDDDCD;
                }
                p {
                    margin: 10px;
                }
            }   
        
            a {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            input {
                margin: 0 5px 0 0;
                height: 30px;
                width: 100%;
                max-width: 400px;
                font-size: 18px;
                line-height: 18px;
            }
            button {
                margin: 0;
                height: 30px;
                font-size: 18px;
                line-height: 18px;
            }

            &.title {
            }
            &.authors {
            }

            &.dates {
                ul {
                    list-style: none;
                    margin: 0; padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 5px;
                    background: #EDDDCD;

                    li {
                        background: #F3E8D4;
                        margin: 5px;
                        padding: 0px 6px;
                    }
                }
            }
            &.techno {
            }
        }

        @media (min-width: 768px) {
            display: grid;
        }
    }
}
