html {
    body {
        font-size: 14px;
        padding: 0;
        margin: 0;
        background: #e8dccd;

        #__next {
            padding: 0;
            margin: 0 auto;
            min-height: 100vh;
            width: 100%;
            max-width: 1600px;
            position: relative;
            display: flex;
            flex-direction: column;

            header {
                .wr {
                    display: grid;
                    grid-template-columns: 200px auto 200px;
                    grid-template-rows: 160px 60px;
                    .left {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 80%;
                        }
                    }
                    .center {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        svg {
                            width: 90%;

                            .fill {
                                background: #000;
                            }
                        }
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 80%;
                        }
                    }

                    .menu {
                        background: #646057;
                        height: 60px;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        li {
                            margin: 0 40px;
                            font-size: 1.6em;
                            color: #fff;
                        }
                    }

                }
            }

            main {
                flex: 1 0 240px;
                flex-direction: column;
                margin: 0 200px;
                display: flex;
                justify-content: center;
                align-items: center;

                .wr {
                    flex: 1 0 240px;
                    width: 100%;
                    background: #f2e8d4;

                    .content {
                        .item {
                            display: flex;
                            background: #fff;
                            margin: 20px;
                            padding: 20px;
                            .div1 {
                                flex: 0 0 225px;
                                img {
                                    
                                }
                            }
                            .div2 {
                                flex: 1 0 240px;
                                padding: 0 20px;

                                .fotos {
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 10px;
                                    align-items: center; justify-content: center;
                                    
                                    img {
                                        margin: 10px;
                                    }
                                }
                            }
                        }

                    }

                }
            }

            footer {
                .wr {
                    display: grid;
                    grid-template-columns: 200px auto 200px;
                    grid-template-rows: 200px;
                    background: #7b7c75;
                }
            }

            @media (min-width: 576px) {
            }

            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
            }

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
            }

            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                .w {
                    background: #ccc;
                    width: 900px;
                }
            }

            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1600px) {
                .w {
                    background: #ccc;
                    width: 100%;
                }
            }
        }
    }
}
