.wr {
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "authors dates techno"
    ;

}

.section {
    background: green;
    margin: 1px;
}

.section:global(#authors)  {
    grid-area: authors;
    background: blue;
    min-height: 300px;
}

.section:global(#dates)  {
    grid-area: dates;
    background: blue;
}

.section:global(#techno)  {
    grid-area: techno;
    background: blue;
}

